body {
    background-image: url(../images/background.jpg);
    background-size: 100%;
    color: #ffffff;
    font-family: 'Yatra One', cursive;
}

.jumbotron {
    background: none;
    padding: 20px 0 0 0;
    font-family: 'New Rocker', cursive;
}

/* I found this feature on youtube so I wanted to try it out. */
h1 {
    font-size: 20mm;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255,255,255,.1);
}

.rules {
    border: 1px solid white;
    padding: 1%;
    text-align:  center;
    width: 250px;
    line-height: 17px;
    font-family: 'Yatra One', cursive;
}

img {
    margin: 0 40px 0 20px;
    height: 150px;
}

.scoreTotal,
.randomNumber {
    border: 1px solid white;
    text-align: center;
    padding-top: 13px;
    font-size: 8mm;
}

.scoreUser {
    text-align: center;
    margin-left: 123px;
}

.counterWinsLosses {
    border: 1px solid white;
    text-align: center;
    padding-top: 13px;
    font-size: 8mm;
}

/* I found this feature on youtube so I wanted to try it out. */
@keyframes animate
{
    0%
    {
        background-position: -500%;
    }
    100%
    {
        background-position: 500%;
    }
}